[Unit]
Description=SnapshotD backup service
Wants=snapshotd.timer
After=local-fs.target

[Service]
Type=oneshot
EnvironmentFile=/etc/snapshotd/snapshotd.conf
ExecStart=/usr/local/bin/snapshot_worker "${SOURCE}" "${TARGET}"
User=__SERVICE_USER__
Group=__SERVICE_GROUP__
Nice=10
IOSchedulingClass=best-effort
IOSchedulingPriority=7
NoNewPrivileges=true
PrivateTmp=true

[Install]
WantedBy=multi-user.target
